<div style="display: grid; grid-template-columns: 50px 1fr; grid-template-rows: 50px; direction: rtl">
    <div style="display: flex;">
        <img src=input.item.thumbnail  style="max-width: 100%; max-height: 100%"/>
    </div>
    <p style="padding: 0;  margin: 0; margin-inline-start: 10px; text-align: start; align-self: center;">
        א
    </p>
</div>